
.roboBody{
	background-color: #9eebcf;
	display: inline-block;
	border-radius: .5rem;
	padding: 1rem;
	margin: .5rem;
	border-width: .25rem;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
	text-align: center;
}

.grow {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out
}

.grow:focus,
.grow:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.grow:active {
	-webkit-transform: scale(.9);
	transform: scale(.9)
}

.pa3 {
	padding: 1rem
}

.pa2 {
	padding: .5rem
}

.b--green {
	border-color: #19a974
}

.bg-lightest-blue {
	background-color: #cdecff
}




